{% load blog_tags %}
<div class="container">
    <h2>Blog</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie vestibulum finibus.</p>
    <p>Au fost scrise {% total_posts %} articole până în prezent.</p>
    <h3>Ultimele articole</h3>
    <div class="ancs">
        {% show_latest_posts 10 %}
    </div>
    
    <p id="ask">
      <a href="{% url 'blog:question-ask' %}">Adresați o întrebare</a>
    </p>
    <!-- <p>
      <a href="{% url 'blog:post_feed' %}">Subscribe to my RSS feed</a>
    </p> -->
</div>